{
  "presets": [
    "es2015", "stage-3"
  ],
  "plugins": ["add-module-exports", "transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
